
<div id="main-wrapper">

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        @*<a href="" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
            </a>*@
        @*<a href="#">
            </a>*@
        <img src="~/Web/img/logo.png" class="navbar-brand d-flex align-items-center px-2 px-lg-4" width="20%" height="8%" />

        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="@Url.Action("AdminDashboard", "Admin")" class="nav-item nav-link" id="AdminPage">Admin</a>
                <a href="@Url.Action("IssueCoupon", "Admin")" class="nav-item nav-link" id="IssueCouponPage">Issue Coupon</a>
                <a href="@Url.Action("BulkUploadEmpData", "Admin")" class="nav-item nav-link" id="BulkUploadPage">Bulk Upload Data</a>
                <a href="@Url.Action("StaffDashboard", "Staff")" class="nav-item nav-link" id="StaffPage">Staff</a>
                <a href="#" class="nav-item nav-link" id="EmployeePage">Employee</a>
                <span id="dvUserName" class="nav-item nav-link"></span>
                <a href="@Url.Action("LogOut", "Home")" class="nav-item nav-link" id="LogoutPage">LogOut</a>

                @*<div class="nav-item dropdown">
            <a href="#" class="nav-link" data-bs-toggle="dropdown" id="dvUserName"></a>
            <div class="dropdown-menu fade-down m-0">
                <a href="@Url.Action("LogOut", "Home")" class="dropdown-item" id="LogoutPage"><b>LogOut</b></a>
            </div>
        </div>*@
            </div>
            @*<a href="#" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>*@
        </div>
    </nav>
    <!-- Navbar End -->
</div>